%h2
  .row-fluid
    .text-left.span8
      User:
      = @user.firstname
      = @user.lastname
    .text-right.span4
      = link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
      = link_to 'Back', users_path, class: 'btn btn-info'
      = link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p
  %b
    Email:
  = @user.email
%p
  %b
    Created At:
  = @user.created_at