- if @client.errors.any?
  - @client.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
- url = (@client.id)?client_path(@client):clients_path
- method = (@client.id)? :put : :post
= form_for(@client, :url => url, :method => method, class: 'form-horizontal') do |f|
  .control-group
    .control-label
      FirstName:
    .controls
      = f.text_field :firstname, class: 'span3'
  .control-group
    .control-label
      Last Name:
    .controls
      = f.text_field :lastname, class: 'span3', rows: 4
  .control-group
    .control-label
      Email:
    .controls
      = f.email_field :email, class: 'span3'
  .control-group
    .control-label
      Password:
    .controls
      = f.password_field :password, class: 'span3'
  .control-group
    .control-label
      Password Confirmation:
    .controls
      = f.password_field :password_confirmation, class: 'span3'
  .control-group
    .controls
      = f.submit class: 'btn btn-info'