.row-fluid
  .text-left.span6
    %h2
      Users:
  .text-right.span6
    = link_to 'New User', new_client_path, class: 'btn btn-info'
= will_paginate @clients
%table.table.table-striped
  %tr
    %th
      Email
    %th
      First Name
    %th
      Last Name
    %th
      Registered at
    %th
  - @clients.each do |user|
    %tr
      %td
        = user.email
      %td
        = user.firstname
      %td
        = user.lastname
      %td
        = user.created_at
      %td{style: 'text-align: right'}
        = link_to 'Show', client_path(user), class: 'btn'
        = link_to 'Edit', edit_client_path(user), class: 'btn btn-primary'
        = link_to 'Destroy', client_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
= will_paginate @clients

