- if @request.errors.any?
  - @request.errors.full_messages.each do |msg|
    .alert.alert-error
      %button.close{type: :button, 'data-dismiss' => 'alert'}
      = msg
= form_for(@request, class: 'form-horizontal') do |f|
  .control-group
    .control-label
      Completed:
    .controls
      = f.check_box :completed
  .control-group
    .control-label
      Description:
    .controls
      = f.text_area :description, class: 'span6', rows: 3
  .control-group
    .control-label
      Creation Date:
    .controls
      #datetimepicker1.input-append.date
        = f.text_field :creation_date, { 'data-format' => 'yyyy-MM-dd hh:mm:ss', 'type' => 'text'}
        %span.add-on
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
      :javascript
          $(function() {
              $('#datetimepicker1').datetimepicker({
                  language: 'pt-BR'
              });
          });
  .control-group
    .control-label
      Last Reviewed:
    .controls
      #datetimepicker2.input-append.date
        = f.text_field :last_reviewed, { 'data-format' => 'yyyy-MM-dd hh:mm:ss', 'type' => 'text'}
        %span.add-on
          %i{ 'data-time-icon' => 'icon-time', 'data-date-icon' => 'icon-calendar'}
      :javascript
          $(function() {
              $('#datetimepicker2').datetimepicker({
                  language: 'pt-BR'
              });
          });
  .control-group
    .control-label
      Importance:   (       case 0: return @"Low";case 1: return @"Normal";case 2:return @"Urgent";)
    .controls
      = f.radio_button :importance, 0, :checked => true
      Low
      = f.radio_button :importance, 1
      Normal
      = f.radio_button :importance, 2
      Urgent
  .control-group
    .control-label
      Status:
    .controls
      = f.select :status_id, options_for_select(Status.all.collect{ |status| [status.name, status.id] }), class: 'span6'
  .control-group
    .control-label
      Location:
    .controls
      = f.select :location_id, options_for_select(Location.all.collect{ |location| [location.name, location.id] }), class: 'span6'
  .control-group
    .control-label
      Problem Area:
    .controls
      = f.select :problem_area_id, options_for_select(ProblemArea.all.collect{ |area| [area.name, area.id] }), class: 'span6'
  .control-group
    .control-label
      Picture #1:
    .controls
      = f.file_field :picture1, class: 'span6'
  .control-group
    .control-label
      Picture #2:
    .controls
      = f.file_field :picture2, class: 'span6'
  .control-group
    .control-label
      Picture #3:
    .controls
      = f.file_field :picture3, class: 'span6'
  .control-group
    .controls
      = f.submit class: 'btn btn-info'