.row-fluid
  .text-left.span6
    %h2
      Requests:
  .text-right.span6
    = link_to 'New Request', new_request_path, class: 'btn btn-info'
%br
.row-fluid
  .span12
    = will_paginate @requests
    %table.table.table-striped{style: 'table-layout: fixed;'}
      %tr
        %th
          Completed
        %th.span2
          Description
        %th
          Importance
        %th
          Location
        %th
          Problem Area
        %th
          Status
        %th
          User
        %th
      - @requests.each do |request|
        %tr
          %td
            = request.completed
          %td{style: 'width: 150px; overflow: hidden'}
            = request.description
          %td
            = request.importance
          %td
            = request.location.name if request.location
          %td
            = request.problem_area.name if request.problem_area
          %td
            = request.status.name if request.status
          %td
            = request.user.email if request.user
          %td{style: 'text-align: right'}
            = link_to 'Show', request_path(request), class: 'btn'
            = link_to 'Edit', edit_request_path(request), class: 'btn btn-primary'
            = link_to 'Destroy', request_path(request), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

    = will_paginate @requests
