%h2
  .row-fluid
    .text-left.span8
      Request:
    .text-right.span4
      = link_to 'Edit', edit_request_path(@request), class: 'btn btn-primary' if can? :update, Request
      = link_to 'Back', requests_path, class: 'btn btn-info'
      = link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, Request
.row-fluid
  .span2.text-right
    %b Completed:
    %br
    %b Creation Date:
    %br
    %b Description:
    %br
    %b Last reviewed:
    %br
    %b Importance:
    %br
    %b User:
    %br
    %b Status:
    %br
    %b Location:
    %br
    %b Problem Area:
  .span3
    = @request.completed ? 'Yes' : 'No'
    %br
    = @request.creation_date.strftime("%m-%d-%Y EST" ) if @request.creation_date
    %br
    = @request.description
    %br
    = @request.last_reviewed.strftime("%m-%d-%Y EST" ) if @request.last_reviewed
    %br
    = @request.importance.name if @request.importance
    %br
    = (@request.user.firstname + ' ' + @request.user.lastname)  if @request.user
    %br
    = @request.status.name if @request.status
    %br
    = @request.location.name if @request.location
    %br
    = @request.problem_area.name if @request.problem_area
  .span7
%br
.row-fluid
  .span12
    #myCarousel.carousel.slide
      .carousel-inner
        .active.item
          = image_tag(@request.picture1.url, style: 'width: 100%')
        .item
          = image_tag(@request.picture2.url, style: 'width: 100%')
        .item
          = image_tag(@request.picture3.url, style: 'width: 100%')
      %a.carousel-control.left{href: "#myCarousel", 'data-slide' => "prev"}
        &lsaquo;
      %a.carousel-control.right{href: "#myCarousel", 'data-slide' => "next"}
        &rsaquo;