= javascript_include_tag 'lightbox/js/lightbox-2.6.min.js'
= stylesheet_link_tag 'lightbox/css/lightbox.css'
%h2
  .row-fluid
    .text-left.span8
      Request:
    .text-right.span4
      = link_to 'Edit', edit_request_path(@request), class: 'btn btn-primary' if can? :update, Request
      = link_to 'Back', requests_path, class: 'btn btn-info'
      = link_to 'Destroy', @request, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' if can? :destroy, Request
.row-fluid
  .span2.table.text-right
    %table
      %tr
        %td
          %b Completed:
        %td
          = @request.completed ? 'Completed':'Uncompleted'
      %tr
        %td
          %b Creation date:
        %td
          = @request.creation_date.strftime("%m-%d-%Y EST" ) if @request.creation_date
      %tr
        %td
          %b Description:
        %td
          = @request.description
      %tr
        %td
          %b Last reviewed:
        %td
          = @request.last_reviewed.strftime("%m-%d-%Y EST" ) if @request.last_reviewed
      %tr
        %td
          %b Importance:
        %td
          = @request.importance.name if @request.importance
      %tr
        %td
          %b Firstname:
        %td
          = (@request.user.firstname + ' ' + @request.user.lastname)  if @request.user
      %tr
        %td
          %b Status:
        %td
          = @request.status.name if @request.status
      %tr
        %td
          %b Location:
        %td
          = @request.location.name if @request.location
      %tr
        %td
          %b Problem area:
        %td
          = @request.problem_area.name if @request.problem_area



%div
  = link_to(image_tag(@request.picture1.url, style: 'height: 200px', class: 'img-polaroid'),  @request.picture1.url, 'data-lightbox' => "roadtrip") if @request.picture1.exists?
  = link_to(image_tag(@request.picture2.url, style: 'height: 200px', class: 'img-polaroid'),  @request.picture2.url, 'data-lightbox' => "roadtrip") if @request.picture2.exists?
  = link_to(image_tag(@request.picture3.url, style: 'height: 200px', class: 'img-polaroid'),  @request.picture3.url, 'data-lightbox' => "roadtrip") if @request.picture3.exists?