%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to 'Users', clients_path if can? :manage, User
  %li
    = link_to 'Requests', requests_path if can? :read, Request
  %li
    = link_to 'Locations', locations_path if can? :manage, Location
  %li
    = link_to 'Problem Areas', problem_areas_path if can? :manage, ProblemArea
  %li
    = link_to 'Statuses', statuses_path if can? :manage, Status
  %li
    = link_to 'Importances', importances_path if can? :manage, Importance