!!!
%html
  %head
    %title
      SparkingImage
    = stylesheet_link_tag 'application', controller_path, media: :all
    = javascript_include_tag 'application', controller_path
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = csrf_meta_tags
  %body
    .row-fluid
      .span10.offset1
        .page-header
          .row-fluid
            .span5
              %h1
                SparkingImage
            .span7.text-right
              = render partial: 'layouts/authentication'
        .row-fluid
          .span12
            = render partial: 'layouts/sidebar'
        .row-fluid
          - if flash[:error]
            .alert.alert-error
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:error]
          - elsif flash[:success]
            .alert.alert-success
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:success]
          - elsif flash[:notice]
            .alert.alert-notice
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = flash[:notice]
          - elsif params[:error]
            .alert.alert-notice
              %button.close{type: :button, 'data-dismiss' => 'alert'}
                &times;
              = params[:error]
        .row-fluid
          .span12
            .well{style: 'overflow-x: auto'}
              = yield
